---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import UpcomingChallenges from '../components/UpcomingChallenges.astro';
import Achievements from '../components/Achievements.astro'; // <-- We added this new import
---

<Layout title="Synergy Squad - KIOT Coding Club">
	<Hero />
	
	<main>
		<UpcomingChallenges />
		<Achievements /> <!-- <-- We placed the new component here -->
	</main>
</Layout>